#highscoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    border: 1px solid #333;
    padding: 5px 25px;
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.high-score:hover {
    transform: scale(1.25);
    cursor: pointer;
}
